[BEGINVDF]
Comment=Categorized inventory for Gothic 2 and Gothic 2 NotR%%NThis patch extends the inventory by browsable categories.%%NCatInv, Copyright (C) 2018-2024  mud-freak (@szapp), subject to MIT License
BaseDir=.\
VDFName=.\CatInv.vdf

[FILES]
README_CatInv.txt

; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\CatInv\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
empty -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
