[BEGINVDF]
Comment=Categorized inventory for Gothic 2 NotR%%NThis patch extends the inventory by browsable categories.%%NCatInv, Copyright (C) 2018-2019  mud-freak (@szapp), subject to MIT License%%NNinja <http://tiny.cc/GothicNinja>
VDFName=.\Ninja_CatInv.vdf

[FILES]
README_CatInv.md

; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\Ikarus\* -r
Ninja\LeGo\* -r
Ninja\CatInv\* -r

; Ninja files
*.patch

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
